In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("c:/users/sakshi yadav/Downloads/Iris_dataset.csv")

In [3]:
df.shape

(150, 6)

In [4]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
df.Species

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [6]:
flower_list = df.Species.unique()

In [7]:
flower_list

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [8]:
df = df.drop(columns="Id")

In [9]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [10]:
# Creating a dictionary for flower
dic = dict()

In [11]:
for flower in range(len(flower_list)):
    dic.update({flower:flower_list[flower]})

In [12]:
dic

{0: 'Iris-setosa', 1: 'Iris-versicolor', 2: 'Iris-virginica'}

In [13]:
# Encoding Flower Name by 0,1,2....

In [14]:
def encode(value):
    for i in dic.keys():
        if value == dic[i]:
            return i

In [15]:
df['Species'] = df['Species'].map(encode)

In [16]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [17]:
df.Species.unique()

array([0, 1, 2])

In [18]:
# I am Dividing my data into two parts x as input and y as output.
X = df.drop(columns=['Species'])
y = df['Species']

In [19]:
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [20]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Species, dtype: int64

In [21]:
#pip install scikit-learn

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=11)

In [24]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((120, 4), (120,), (30, 4), (30,))

In [25]:
X_train.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
120            6.9           3.2            5.7           2.3
122            7.7           2.8            6.7           2.0
49             5.0           3.3            1.4           0.2
29             4.7           3.2            1.6           0.2

In [26]:
y_train.head()

0      0
120    2
122    2
49     0
29     0
Name: Species, dtype: int64