## Recommendation Engine
<p>A recommendation engine is a system that suggests products, servies or content to users based on various data.</p>
<ul>
    <li>NETFLIX</li>
    <li>AMAZON</li>
    <li>SPOTIFY</li>
</ul>

<h4>Types of Recommendation System</h4>
<ol>
    <li>Collaborative Filtering</li>
    <li>Content-Based Filtering</li>
    <li>Accociation Rule Mining</li>
</ol>

## 1. Collaborative Filtering
<p>Recommendation are made based on user-user or item-item similarities</p>

<ul>
    <li>User-Based: "Users Similar to you liked A"</li>
    <li>Item-Based: "Users who liked item A also liked item B"</li>
</ul>

In [1]:
# Now Practice Usages
import pandas as pd
import numpy as np

In [2]:
data = {
    'UserA':[5,3,np.nan,1],
    'UserB':[4,2,5,1],
    'UserC':[4,3,4,1]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   UserA  UserB  UserC
0    5.0      4      4
1    3.0      2      3
2    NaN      5      4
3    1.0      1      1

### Target: We want to predict how user A would rate Movie3?
- Find users similar to User A using similarity metrics like cosine_similarity
  or pearson correlation
- Use their rating to preduct the missing value

In [5]:
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
df = pd.DataFrame(data, index=['Movie1','Movie2','Movie3','Movie4']).T
df

       Movie1  Movie2  Movie3  Movie4
UserA     5.0     3.0     NaN     1.0
UserB     4.0     2.0     5.0     1.0
UserC     4.0     3.0     4.0     1.0

In [7]:
df_filled = df.fillna(0)

In [8]:
df_filled

       Movie1  Movie2  Movie3  Movie4
UserA     5.0     3.0     0.0     1.0
UserB     4.0     2.0     5.0     1.0
UserC     4.0     3.0     4.0     1.0

In [9]:
similarity = cosine_similarity(df_filled.T)

In [10]:
similarity_df = pd.DataFrame(similarity, index=df.columns, columns=df.columns)

In [11]:
similarity_df

          Movie1    Movie2    Movie3    Movie4
Movie1  1.000000  0.988369  0.744686  0.994135
Movie2  0.988369  1.000000  0.732520  0.984732
Movie3  0.744686  0.732520  1.000000  0.811503
Movie4  0.994135  0.984732  0.811503  1.000000

In [12]:
movie_similarities = similarity_df['Movie3']

In [13]:
movie_similarities

Movie1    0.744686
Movie2    0.732520
Movie3    1.000000
Movie4    0.811503
Name: Movie3, dtype: float64

In [14]:
userA_ratings = df.loc['UserA']

In [15]:
userA_ratings

Movie1    5.0
Movie2    3.0
Movie3    NaN
Movie4    1.0
Name: UserA, dtype: float64

In [16]:
predicted_rating = np.dot(movie_similarities, userA_ratings.fillna(0)/movie_similarities.sum())

In [17]:
print("Predicted Rating for Movie3: ",round(predicted_rating,0))

Predicted Rating for Movie3:  2.0

## 2.Content Based Filtering
<p>Recommend itmes similar to items the user liked, based on item features.</p>

In [18]:
movies = pd.DataFrame({
    'Action': [1,0,1],
    'Comedy': [0,1,1],
    'Drama': [1,1,0]
},index=['Movie1', 'Movie2','Movie3'])

In [19]:
movies

        Action  Comedy  Drama
Movie1       1       0      1
Movie2       0       1      1
Movie3       1       1      0

In [20]:
# Assume user Liked Movie1
liked_movie = movies.loc[['Movie1']]
liked_movie

        Action  Comedy  Drama
Movie1       1       0      1

In [21]:
similarity = cosine_similarity(liked_movie,movies)[0]

In [22]:
similarity

array([1. , 0.5, 0.5])

In [23]:
recommendations = pd.Series(similarity, index=movies.index).sort_values(ascending=False)

In [24]:
recommendations

Movie1    1.0
Movie2    0.5
Movie3    0.5
dtype: float64

In [25]:
print("Recommended Movies :",recommendations)

Recommended Movies : Movie1    1.0
Movie2    0.5
Movie3    0.5
dtype: float64

In [26]:
like_movie = pd.DataFrame({
    'Action':[1],
    'Comedy':[0],
    'Drama':[1]
},index=['Movies8'])
like_movie

         Action  Comedy  Drama
Movies8       1       0      1

In [27]:
similarity = cosine_similarity(like_movie,movies)[0]

In [28]:
recommendations = pd.Series(similarity,index=movies.index).sort_values(ascending=False)

In [29]:
print("Recommended Movies :",recommendations)

Recommended Movies : Movie1    1.0
Movie2    0.5
Movie3    0.5
dtype: float64